{erl_first_files, [gen_lpssh_hostlist, gen_lpssh_call]}.
{erl_opts, [debug_info]}.
{edoc_opts, [
  {overview, "src/overview.edoc"},
  {source_path, ["src", "examples"]},
  todo, private, hidden
]}.
{deps, [
  % dependencies don't have URLs defined, but you want this installed from
  % packages, anyway
  {eni, "0.*", undefined} % https://github.com/dozzie/eni.git
]}.
